<!-- définition de l'encodage -->
<meta charset="utf-8">
<!-- ces deux lignes servent à faire comprendre aux appareils mobiles
que le site est responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- titre de la page -->
<title>Requêtes SQL</title>
<!-- si vous souhaitez que les pages de votre application aient un titre différent, vous
devrez spécifier les titres sur les pages elles-mêmes et non pas dans ce fichier -->

<!-- chargement des feuilles de style -->
<link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="static/style.css">
<link rel="stylesheet" href="static/responsive.css">

<script src="/socket.io/socket.io.js"></script>
<!-- chargement du script principal -->
<script src="static/js/general.js"></script>

<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->