<nav class="navbar navbar-default" id="navbar" style="height:50px;">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">Requêtes SQL</a>
    <a href="#"
    class="navbar-toggle"
    onclick="navbar_mobile();">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
  </div>
  <div class="navbar-collapse collapse" id="contenu_nav">
    <ul class="nav navbar-nav">
      <li>
        <a href="/">Accueil</a>
      </li>
    </ul>
  </div>
</nav>