<!DOCTYPE html>
<html>
  <head>
    <% include balise_head %>
    <script src="static/js/index.js"></script>
  </head>
<body>
  <% include barre_navigation %>
  <div class="container">
    <div class="row">
      <div class="col-lg-offset-2 col-md-offset-1 col-md-10 col-lg-8">
        CSV
        <textarea class="form-control" id="csv"></textarea><br>
        JSON
        <textarea class="form-control" id="json"></textarea><br>
        SQL
        <textarea class="form-control" id="sql"></textarea>

        <button class="btn btn-success bouton_execution" onclick="executer_requete()">
          Exécuter requête
        <button class="btn btn-primary bouton_execution" onclick="executer_programme()">
          Exécuter programme
        <button class="btn btn-danger bouton_execution" onclick="conversion_csv()">
          Convertir CSV
        <button class="btn btn-default bouton_execution" onclick="import_donnees('sql')">
          Importer SQL
        <button class="btn btn-default bouton_execution" onclick="import_donnees('json')">
          Importer JSON
        </button> 
        <!-- résultat de la requête -->
        <div id="resultat"></div>
        <div class="col-lg-offset-2 col-md-offset-1"></div>
        <script>
          byId('json').value = '[{"duree":"2h30","jour":"lundi","h_debut":"08h10","mat_code":"GY","classe":"1EC1","prof_nom":"Catillaz","prof_prenom":"Marco","salle":""}]';
        </script>
      </div>
    </div>
  </body>
</html>